In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import gc
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [5]:
df = pd.read_csv('../dataset/ratings.csv')

In [6]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
df.drop(columns=['timestamp'], inplace=True)

In [9]:
df.isna().sum()

userId     0
movieId    0
rating     0
dtype: int64

In [10]:
df.to_csv('../dataset/ratings.csv', index=False)